/* Styles for User Profile Card */
mat-card {
    margin: 16px auto;
    max-width: 1000px; 
    width: 100%; 
  }
  
  /* User Profile Card title */
  mat-card-title {
    font-size: 24px;
    margin: 0;
  }
  
  /* User Profile Card content */
  mat-card-content {
    padding: 16px;
  }
  
  /* User Profile Card form fields */
  mat-form-field {
    margin-right: 10px;
  }
  
/* Favorite Movies Card styles */
.favorite-movies-card {
    margin: 16px auto;
    max-width: 1000px; 
    width: 100%; 
  }
  
  /* Favorite Movies Card title */
  .favorite-movies-card mat-card-title {
    font-size: 24px;
    margin: 0;
  }
  
  /* Favorite Movies Card content */
  .favorite-movies-card mat-card-content {
    padding: 16px;
  }
  
  /* Styles for movie list items */
  mat-list-item {
    display: flex;
    align-items: center;
    padding: 0; 
    margin-bottom: 20px;
    border: none; 
    width: 100%; 
    box-sizing: border-box;
  }
  
  /* Styles for movie images */
  img[mat-list-avatar] {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    object-fit: cover; 
    margin-right: 20px; 
  }
  
  /* Styles for movie titles */
  mat-list-item h4 {
    font-size: 24px; 
    margin: 0;
    flex: 1;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  
  @media (max-width: 768px) {
    .favorite-movies-card {
      max-width: 100%; 
    }
  
    img[mat-list-avatar] {
      width: 150px; 
      height: 225px; 
    }
  }